.box{
    background: #292929;
    padding: 30px;
    margin-top: 60px;
    margin-left: 420px;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8), 
    -10px -5px 10px rgba(29, 29, 29, 0.5);
    width: 470px;
}

.log{
    background: #292929;
    padding: 20px; 
    color: white;
   margin-left: 5px;
    width:  400px;
    margin-top: 15px;   
}
.log input{
background:#f2f2f2;
color: #000000;
}
.tab{
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8), 
    -5px -5px 10px rgba(29, 29, 29, 0.5);
    margin-right: 15px;
}

.tab:hover{
    background: white;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8), 
    -5px -5px 10px rgba(29, 29, 29, 0.5);
}


.in{
    background: #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8), 
                -5px -5px 10px rgba(29, 29, 29, 0.5);
    color: white;

}


